**.orig
*.rbc
*.sassc
.env
.project
.rspec
.rvmrc
.sass-cache
.vagrant
/.bundle
/.capistrano
/config/database.yml
/config/deploy.yml
/config/secrets.yml
/config/settings.yml
/coverage/
/db/*.sqlite3
/log/*
/public/assets/*
/public/sitemap*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
pickle-email-*.html
rerun.txt
