<% content_for :content do %>
  <div class="content_wrapper">
    <div class="hobbies_page_wrapper row">
      <div class="col-xs-10 col-xs-offset-2">
        <%= render_partial_for_region @content %>

        <%= render_partial_for_region @first_gallery, 'hobbies_page' %>
        <%= render_partial_for_region @second_gallery, 'hobbies_page' %>
        <%= render_partial_for_region @third_gallery, 'hobbies_page' %>
      </div>
    </div>
  </div>
<% end %>
