<% content_for :content do %>

  <%= render_partial_for_region @subnavigation, 'position' if @subnavigation %>
  <div class="content_wrapper">
    <% if ['NewsListPart', 'NewsItemPart'].include?(@content.try(:type)) && @content && !request.fullpath.include?('galereya') %>
      <%= render_partial_for_region @content, 'news_page'%>
    <% elsif @content && request.fullpath.split('/').include?('galereya') %>
      <%= render_partial_for_region @content, 'galereya' %>
    <% else %>
      <%= render_partial_for_region @content %>
    <% end %>
  </div>
<% end %>
