<%= content_for :content do %>

  <%= render_partial_for_region @gallery_of_honor %>

  <div class="row">
    <div class="col-lg-5">
      <%= render_partial_for_region @news %>
    </div>

    <div class="col-lg-7">

    </div>
  </div>
<% end %>
