<%= content_for :content do %>

  <%= render_partial_for_region @gallery_of_honor %>

  <div class="row">
    <div class="col-lg-5">
      <%= render_partial_for_region @news %>
    </div>

    <div class="col-lg-7">
      <div class="quotes_wrapper">
        <div class='quote_l'>"</div>
        <p class='quote'>
          Всегда беру себе высокопрофессиональных и умных замов, которые на своем направлении знают больше, чем я. Можно, конечно, пригласить таких, которые будут только поддакивать – но инициатива должна идти не сверху вниз, а наоборот
          <span class="quote_r">"</span>
        </p>
        <div class='sign'></div>
      </div>
    </div>
  </div>
<% end %>
