<% content_for :meta, meta_tags %>
<% content_for :content do %>

  <div class="position_page_wrapper">
    <div class="subnavigation <%= params[:path].try(:split, '/').try(:[], 1) %>">
      <ul class='nav nav-pills pull-right'>
        <% archive_links(@content).each do |e| %>
          <%= e.html_safe %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="content_wrapper">
    <%= render_partial_for_region @content, 'video' %>
  </div>
<% end %>
