body
  background: image-url('top_background.png') no-repeat center 0, image-url('background.png') repeat 0 0

@for $i from 1 through 90
  .margin-top-#{$i}
    margin-top: #{$i}px

  .margin-right-#{$i}
    margin-right: #{$i}px

  .margin-bottom-#{$i}
    margin-bottom: #{$i}px

  .margin-left-#{$i}
    margin-left: #{$i}px

.body
  font-family: 'Myriad Pro', 'Trebuchet MS', arial

  .navbar-default
    background-color: transparent
    border: 0
    float: left

  a
    outline: none
    color: #07754d

  b, strong
    font-weight: bolder

  i, em
    font-style: italic

  .top_header
    a
      &.background
        background: image-url('logotype-io.png') no-repeat 0 0

      &.big
        width: 432px
        height: 152px
        display: block
        text-indent: -9999px
        margin-top: 16px

    .small
      padding-top: 30px

  .link_to_rss
    color: #ffa500
    margin-left: 10px

  .white_wrapper
    background: #fff
    +box-shadow(0 0 30px 0 #053d22)
    margin-top: 10px

    .main_navigation
      padding: 57px 72px 35px

      .nav
        li
          &.active
            a
              color: #07754d
              text-decoration: underline
              cursor: default
              background-color: #fff

          a
            color: #636363
            text-transform: uppercase
            font-size: 1.7rem
            font-family: 'Pf Bulletin SansPro medium', arial
            padding: 10px 12px

            &:hover, &:focus
              background-color: #fff
              color: #07754d

          &:first-child a
            padding-left: 0

          &:last-child a
            padding-right: 0

      .search-wrapper
        margin-top: 7px
        margin-right: 26px

        .twitter_icon
          text-indent: -9999px
          background: image-url('icons/twitter_sprite_icon.jpg') no-repeat
          width: 25px
          height: 21px
          margin-right: 25px

          &:hover
            background-position: center bottom

        .search_form
          input
            outline: none
            +border-radius(10px)
            border: 1px inset
            padding-left: 10px

    .content_wrapper
      padding: 0 76px 30px
      min-height: 300px

  .appeal-form
    width: 732px

  .btn-success
    color: #fff

@media (max-width: $screen-md-max)
  .body
    .white_wrapper
      .main_navigation
        .navbar-collapse
          .nav
            width: 650px

            li
              &:first-child a
                padding-left: 12px

        .search-wrapper
          margin-right: 0

          .twitter_icon
            margin-right: 0

          form
            width: 120px

@media (max-width: $screen-sm-max)
  .body
    .white_wrapper
      .main_navigation
        .search-wrapper
          margin-right: 15px

          .twitter_icon
            margin-right: 15px

        .navbar-collapse
          .nav
            width: 400px

@media (max-width: $screen-xs-max)
  .body
    .white_wrapper
      .content_wrapper
        padding: 0 0 20px 15px
        margin-top: 30px

      .main_navigation
        padding: 10px 0 0 30px

        .search-wrapper
          margin-top: 18px
          float: left !important
          margin-left: 30px

          form
            width: auto

            input
              width: 90px

        .navbar-default
          position: relative
          float: none
          margin: 0

          button
            margin-right: 25px
            margin-top: 8px

          .navbar-brand
            padding: 5px 0 0 0

          .navbar-collapse
            border: 1px solid #ccc
            border-top: 0
            position: absolute
            background-color: #fff
            z-index: 10
            right: 25px
            padding-left: 0
            padding-right: 0

            .nav
              width: 240px

              li
                clear: left

                &:first-child a
                  padding-left: 12px

  .body
    .white_wrapper
      .main_navigation
        &.pozitsiya, &.galereya, &.video
          padding: 30px 0 20px 30px !important
