.galleria_page_wrapper
  h1
    margin-left: 20px

  .header
    color: #07754d

    h1
      font-size: 2rem

  .title
    color: #07754d
    margin-bottom: 5px
    font-size: 1.6rem
    font-family: 'Myriad Pro', 'Trebuchet MS', arial

  .date
    color: #636363
    font-size: 1.2rem
    font-family: 'Myriad Pro', 'Trebuchet MS', arial

  .images
    +clearfix

    .item
      position: relative

      .link
        display: block
        width: 88%
        height: 100%
        position: absolute
        top: 0
        text-indent: -9999px
        z-index: 50

      .title
        position: absolute
        bottom: 25px
        background-color: white
        width: 85%
        text-align: center
        left: 18px
        font-family: helvetica, tahoma
        font-size: 14px
        font-weight: bold
        overflow: hidden
        padding-top: 5px
        color: #000
        margin: 0

  .pagination
    padding-left: 15px
