.hobbies_page_wrapper
  .header
    margin-left: 15px

  h1
    color: #07754d
    font-size: 2rem
    margin-bottom: 15px

    a
      color: inherit
      font-size: inherit
      text-decoration: underline

      &:hover
        text-decoration: none

  p
    color: #636363
    font-size: 1.4rem

  .images
    +clearfix

    h1
      margin: 20px 0 10px 15px
