.galleria-wrapper
  padding: 0 30px 0 76px

  ul
    +clearfix

    li
      float: left
      position: relative
      margin: 5px 10px 5px 0

      &.hover img
        +box-shadow(#333 0 0 5px)

      &.grayscale img
        +filter(grayscale(1))

      img
        position: absolute
        top: 0
        left: 0
        z-index: 0

      &.img_0
        width: 237px
        height: 324px

        img
          width: 237px
          height: 324px

      &.img_1, &.img_2, &.img_3
        width: 237px
        height: 157px

        img
          width: 237px
          height: 157px

      &.img_2
        margin-right: 10px

      &.img_3
        margin-right: 36px

      &.img_4, &.img_5
        width: 114px
        height: 157px

        img
          width: 114px
          height: 157px

      &.img_4
        margin-right: 9px

      &.img_6
        width: 484px
        height: 324px

        img
          width: 484px
          height: 324px

      &.img_7, &.img_8
        width: 237px
        height: 157px
        clear: left

        img
          width: 237px
          height: 157px

.news_list_wrapper
  background-color: #f6f6f6
  padding-left: 75px
  margin-top: 25px

  ul
    padding: 16px 50px 0 0

    li
      margin-bottom: 25px

      .date
        color: #8b8b8b
        font-size: 12px
        font-family: 'Myriad Pro','Trebuchet MS',arial

      .link
        a
          color: #07754d
          text-decoration: underline

          &:hover
            text-decoration: none

      .annotation
        color: #8e8888

  .more_news
    color: #07754d
    padding-bottom: 20px
    display: block
    text-decoration: underline

    &:hover
      text-decoration: none

.quotes_wrapper
  +clearfix
  margin-top: 50px
  width: 555px

  .quotes-list
    display: none

  .quote_l, .quote_r
    height: 25px
    width: 30px
    text-indent: -9999px

  .quote_l
    background: image-url('icons/blockquote-l.png') no-repeat left top
    float: left

  .quote
    line-height: 38px
    font-size: 30px
    margin-top: -8px
    color: #494949
    font-family: "PF Din Text CompPro light", arial
    padding-left: 45px

  .quote_r
    background: image-url('icons/blockquote-r.png') no-repeat right bottom
    +inline-block
    margin-left: 10px

  .sign
    background: image-url('icons/sign.png') no-repeat right bottom
    height: 100px
    width: 190px
    float: right

@media (max-width: $screen-xs-max)
  .galleria-wrapper
    padding: 0 30px 0 37px

    ul
      li
        &.img_0
          width: 77px
          height: 164px

          img
            width: 77px
            height: 164px

        &.img_1, &.img_2, &.img_3
          width: 237px
          height: 157px

  .quotes_wrapper
    width: auto

    .quote
      font-size: 18px

  .news_list_wrapper
    padding-left: 15px
