.pagination
  padding-left: 170px

  span
    display: block
    float: left
    font-size: 1.3rem
    height: 21px
    line-height: 23px
    margin-right: 4px
    padding: 0 8px
    text-align: center

    a
      color: #07754d
      text-align: center

  .current, .next, .prev
    +border-radius(2px)
    background: image-url('paginator-background.png') repeat-x 0 0
    color: #fff

    a
      color: inherit

@media (max-width: $screen-xs-max)
  .pagination
    padding-left: 30px !important
    display: block
    padding-bottom: 20px

    span
      display: none

      &.next, &.prev, &.current
        display: block

      &.current
        background: transparent
        color: #07754d

@media (max-width: $screen-md-max)
  .pagination
    padding-left: 137px

@media (max-width: $screen-sm-max)
  .pagination
    padding-left: 100px
