.body
  .white_wrapper
    .main_navigation
      &.pozitsiya, &.galereya, &.video
        padding: 57px 72px 10px

.position_page_wrapper
  +clearfix

  .subnavigation
    +clearfix
    background-color: #07754d

    &.pozitsiya, &.galereya, &.video
      padding-left: 230px
      margin-bottom: 30px

    ul
      &.pull-right
        padding-right: 85px

      li
        &.active
          a
            text-decoration: none
            background: transparent

        a
          color: #fff
          font-family: 'Pf Bulletin SansPro medium', helvetica, tahoma
          text-decoration: underline
          font-size: 17px
          text-transform: uppercase

          &:hover, &:focus
            background: transparent
            text-decoration: none

@media (max-width: $screen-xs-max)
  .position_page_wrapper
    .subnavigation
      &.pozitsiya, &.galereya, &.video
        padding-left: 0 !important

@media (max-width: $screen-sm-max)
  .position_page_wrapper
    .subnavigation
      &.pozitsiya, &.galereya, &.video
        padding-left: 30px

      ul
        &.pull-right
          float: left !important
