.body
  .white_wrapper
    .main_navigation
      &.pozitsiya
        padding: 57px 72px 10px

.position_page_wrapper
  +clearfix

  .subnavigation
    +clearfix
    background-color: #07754d

    &.pozitsiya
      padding-left: 230px
      margin-bottom: 30px

    ul
      li
        &.active
          a
            color: #fff
            font-family: 'pfbulletinsanspro-medium', helvetica, tahoma
            text-decoration: none
            background: transparent
            font-size: 17px
            text-transform: uppercase

        a
          color: #fff
          font-family: 'pfbulletinsanspro-medium', helvetica, tahoma
          text-decoration: underline
          font-size: 17px
          text-transform: uppercase

          &:hover
            background: transparent
            text-decoration: none
