<div class='news_list_page_wrapper'>
  <h2><%= @page.title %></h2>
  <div class='appeal-form'>
    <iframe id='autoIframe' src='//appeals.esp.tomsk.gov.ru/?url=ato' width='100%' scrolling='no'>
      Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
  </div>
</div>
