<div class="images">
  <% object.items.each do |item| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to (image_tag item.images.first.thumbnail.url.sub(/\d+-\d+/,"230-230!n"), :size => '230x230', :class => 'img-responsive'),
        item.slug, :class => 'thumbnail js-colorbox', :rel => 'colorbox' %>
    </div>
  <% end  %>
</div>
