<div class='galleria-wrapper'>
  <div id='galleria' class='js-galleria'>
    <ul>
      <% object.gallery_pictures.each_with_index do |picture, index| %>
        <li class='img_<%= index %> js-galleria-item'>
          <%= image_tag picture.picture_url %>
        </li>
      <% end  %>
    </ul>
  </div>
</div>
