<div class='galleria-wrapper hidden-xs'>
  <div id='galleria' class='js-main_page-galleria'>
    <ul>
      <% object.gallery_pictures.each_with_index do |picture, index| %>
        <li class='img_<%= index %> js-main_page-galleria-item'>
          <%= link_to (image_tag picture.picture_url), picture.picture_url, :class => 'js-colorbox', :rel => 'colorbox' %>
        </li>
      <% end  %>
    </ul>
  </div>
</div>
