<div class="news_list_wrapper">
  <ul>
    <% object.items.each do |news| %>
      <li>
        <div class='date'>
          <%= l Date.parse(news.since) %>
        </div>
        <div class="link">
          <%= link_to strip_tags(news.title), news.link %>
        </div>
        <div class="annotation">
          <%= raw news.annotation %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Больше новостей', '#', :class => 'more_news' %>
</div>
