<div class="position_page_wrapper">
  <div class="subnavigation <%= params[:path].try(:split, '/').try(:[], 1) %>">
    <%= render_cms_navigation object.try(:values).try(:first).try(:[], 'children'), 'nav nav-pills pull-left' %>

    <ul class='nav nav-pills pull-right'>
      <% archive_links(@content).each do |e| %>
        <%= e.html_safe %>
      <% end %>
    </ul>
  </div>
</div>
